@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/SEGOEUI.TTF");
  font-display: swap;
}

@font-face {
  font-family: "Consolas";
  src: url("../assets/fonts/CONSOLA.TTF");
  font-display: swap;
}

@font-face {
  font-family: "Consolas";
  src: url("../assets/fonts/CONSOLAB.TTF");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Consolas";
  src: url("../assets/fonts/CONSOLAI.TTF");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Consolas";
  src: url("../assets/fonts/CONSOLAZ.TTF");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

* {
  @apply selection:bg-slate-400/20;
}

.simplebar-content {
  @apply h-full;
}
.simplebar-scrollbar:before {
  @apply rounded bg-slate-200;
}

.simplebar-dragging .simplebar-scrollbar:before {
  @apply bg-cyan-300;
}

.tabs-scroll .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  @apply h-1;
}

.code-editor pre,
.code-editor textarea {
  white-space: pre !important;
  padding-left: 40px !important;
}

.language-tsx {
  @apply font-consolas text-base font-normal text-slate-100;
}

.language-tsx textarea:focus-visible {
  @apply outline-none;
}

.language-tsx .keyword {
  @apply italic text-cyan-300;
}
.language-tsx .keyword-exception {
  @apply not-italic text-fuchsia-300;
}
.language-tsx .punctuation {
  @apply text-cyan-300;
}

.language-tsx .paranthesis {
  @apply text-amber-300;
}

.language-tsx .string {
  @apply text-lime-300;
}

.language-tsx .operator {
  @apply text-cyan-300;
}

.language-tsx .operator-exception {
  @apply text-fuchsia-300;
}

.language-tsx .class-name {
  @apply text-amber-300;
}

.language-tsx .attr-name {
  @apply text-fuchsia-300;
}

.language-tsx .tag {
  @apply text-red-400;
}

.language-tsx .attr-value {
  @apply text-lime-300;
}

.language-tsx .function {
  @apply text-blue-300;
}

.language-tsx .script {
  @apply text-slate-100;
}
.language-tsx .comment {
  @apply text-slate-400;
}

.language-tsx .number {
  @apply text-orange-500;
}
